In [7]:
#Import Libraries
import pandas as pd
import numpy as np
import re
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [8]:
education = pd.read_csv('education.csv')

In [9]:
# Create a data frame
education = pd.DataFrame(education)

In [10]:
# Convert "object" to "string" type
education.school.apply(str)
education.degrees.apply(str)

0             ['Bachelors of Arts', 'Associate of Arts']
1                                               ['B.A.']
2                  ['Certificate of Completion', 'B.S.']
3                                ['Bachelor of Science']
4                                                ['MBA']
5                 ['BSc', 'International Baccalaureate']
6                                               ['B.A.']
7                                     ['MA', 'Bachelor']
8                                       ['M.D.', 'B.A.']
9                                   ['Bachelor of Arts']
10                               ['Bachelor of Science']
11                                                    []
12                                              ['B.S.']
13                                        ["Bachelor's"]
14                           ['Bachelor of Accountancy']
15                            ['PH.D.', 'Ph.D.', 'B.S.']
16                                         ['BACHELORS']
17                           ['B.F.A.', 'Certification']
18                                      ['M.S.', 'M.S.']
19                                 ['MBA', 'Licentiate']
20                                ['Associates of Arts']
21                                                ['BA']
22                                              ['B.A.']
23     ['Master of Business Administration', 'Bachelo...
24                             ['Bachelor of Fine Arts']
25                                                    []
26                              ['Masters', 'Bachelors']
27                              ['Juris Doctor', 'B.A.']
28                                              ['B.A.']
29        ['MBA', 'Bachelor of Business Administration']
                             ...
970                              ['Bachelor of Science']
971                                             ['B.A.']
972                                                   []
973                        ['MS', 'Bachelor of Science']
974                                      ['Certificate']
975               ["Master's", 'B. A.', 'certification']
976                                         ["Master's"]
977                                 ['Bachelor of Arts']
978          ['Certificate', 'Postgraduate Certificate']
979    ['Master of management Studies', 'Bachelor of ...
980                                               ['BA']
981                                             ['B.A.']
982                                 ['Bachelor of Arts']
983    ['Bachelor of Arts', 'Certificate', 'Certifica...
984                                             ['M.S.']
985                             ['Certification', 'B.E']
986               ['PG Diploma', 'P G Diploma', 'B.Com']
987                                            ['B.F.A']
988    ['Master of Business Administration', 'Bachelo...
989                                 ['Bachelor of Arts']
990              ['Juris Doctorate', 'Bachelor of Arts']
991              ['Associates of Science', 'Associates']
992                              ['Bachelor of Science']
993                    ['Certificate', 'M.Sc.', 'B.Sc.']
994    ['Post-Baccalaureate Certificate', 'Bachelor o...
995              ['Bachelor of Business Administration']
996                              ['Bachelor of Science']
997                                                   []
998    ['Master of Communication Management', 'Bachel...
999                                ['Bachelors of Arts']
Name: degrees, Length: 1000, dtype: object

In [11]:
#Cleaning up Degrees
education.degrees = education.degrees.str.strip("[.]''")
education.degrees = education.degrees.str.replace(".","")
education.degrees = education.degrees.str.replace("'","")
education.degrees = education.degrees.str.replace('"', '')
education.degrees = education.degrees.str.replace("B A", "BA")

education.degrees

0                   Bachelors of Arts, Associate of Arts
1                                                     BA
2                          Certificate of Completion, BS
3                                    Bachelor of Science
4                                                    MBA
5                       BSc, International Baccalaureate
6                                                     BA
7                                           MA, Bachelor
8                                                 MD, BA
9                                       Bachelor of Arts
10                                   Bachelor of Science
11
12                                                    BS
13                                             Bachelors
14                               Bachelor of Accountancy
15                                          PHD, PhD, BS
16                                             BACHELORS
17                                    BFA, Certification
18                                                MS, MS
19                                       MBA, Licentiate
20                                    Associates of Arts
21                                                    BA
22                                                    BA
23     Master of Business Administration, Bachelor of...
24                                 Bachelor of Fine Arts
25
26                                    Masters, Bachelors
27                                      Juris Doctor, BA
28                                                    BA
29              MBA, Bachelor of Business Administration
                             ...
970                                  Bachelor of Science
971                                                   BA
972
973                              MS, Bachelor of Science
974                                          Certificate
975                           Masters, BA, certification
976                                              Masters
977                                     Bachelor of Arts
978                Certificate, Postgraduate Certificate
979    Master of management Studies, Bachelor of Engi...
980                                                   BA
981                                                   BA
982                                     Bachelor of Arts
983           Bachelor of Arts, Certificate, Certificate
984                                                   MS
985                                    Certification, BE
986                        PG Diploma, P G Diploma, BCom
987                                                  BFA
988    Master of Business Administration, Bachelor of...
989                                     Bachelor of Arts
990                    Juris Doctorate, Bachelor of Arts
991                    Associates of Science, Associates
992                                  Bachelor of Science
993                                Certificate, MSc, BSc
994     Post-Baccalaureate Certificate, Bachelor of Arts
995                  Bachelor of Business Administration
996                                  Bachelor of Science
997
998    Master of Communication Management, Bachelor o...
999                                    Bachelors of Arts
Name: degrees, Length: 1000, dtype: object

In [12]:
#Reading the Degree buckets
with open("DegreeBuckets.txt", "r") as f:
    degrees = f.read().split("\n")

In [13]:
#Asses matches of degrees w/ buckets
def get_matches(query,choices, limit=3):
    results = process.extract(query, choices, limit=limit)
    return results

In [14]:
get_matches("Bachelor of Science", degrees)

[('bachelors', 80), ('associate', 40), ('high school/ged', 35)]

AttributeError: 'DataFrame' object has no attribute 'degress'